################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game Of Life by Pauk Version 2.0/GameScreen.h
