################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game Of Life by Pauk Version 2.0/GameScreen.h
/.vs/Game Of Life by Pauk Version 2.0/FileContentIndex/49b74a58-c430-47cc-8639-6e7219734fa1.vsidx
/.vs/Game Of Life by Pauk Version 2.0/FileContentIndex
/.vs/Game Of Life by Pauk Version 2.0/v17
